<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script type='text/javascript' src="{{ "/assets/javascripts/angular.min.js" | prepend: site.baseurl }}"></script>
  <script type='text/javascript' src="{{ "/assets/javascripts/application.js" | prepend: site.baseurl }}"></script>
  
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
    (function(){ var widget_id = 'vSomLwL6UW';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
  </script>
  <!-- {/literal} END JIVOSITE CODE -->
</head>
